*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    background: #fff;
}

#side-bar-menu{
    display: none;
}

#garis-navbar{
    background:#000; 
    width: 50px; 
    height: 1px; 
    margin-top: -65px; 
    border: none;
    margin-left: 700px; 
    transform: rotate(90deg); 
    border-radius: 5px;
}

.tambahData button{
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background: #1877f2;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    transition: 0.6s;
}

.tambahData button:hover{
    color: #1877f2;
    background: transparent;
    border: 1px solid #1877f2;
}

.tambahData{
    text-decoration: none;
    font-family: 'Sniglet', cursive;
}

.hapusData{
    text-decoration: none;
    font-family: 'Sniglet', cursive;
}

.hapusData button{
    transition: 0.6s;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background: red;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.hapusData button:hover{
    color: red;
    background: transparent;
    border: 1px solid red;
}

/* HEADER */

#check:checked ~ .side-bar{
    left: 0;
    z-index: 2000;
}

#check:checked ~ .side-top i{
    display: flex;
}

#check:checked ~ .navbar{
    width: 80%;
    left: 24%;
}

#check:checked ~ .side-bar a{
    color: #ccc;
    text-decoration: none;
    display: block;
    line-height: 60px;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background;
    margin-left: 0;
}

#check:checked ~ .side-bar span{
    display: initial;
}

#check:checked ~ .side-bar a:nth-child(1){
    display: none;
}

#check:checked ~ .side-bar span:nth-child(7){
    color: #ff512f;
}

.side-bar{
    position: fixed;
    left: -240px;
    top: 0;
    width: 24%;
    height: 100vh;
    background: #2f323a;
    overflow: hidden;
    z-index: 85;
    font-family: 'Sniglet', cursive;
    transition: 0.7s;
    transition-property: left;
}

.side-top{
    display: flex;
    justify-content: space-around;
}

#fa-info-circle{
    font-size: 27px;
    transform: translate(7px, -100px);
}

.side-top i{
    color: #fff;
    transform: translateY(-100px);
    font-size: 25px;
    cursor: pointer;
    margin: 0 100px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border: 7px solid #22242a;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.7);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #06dee1, #79ff6c);
    border-radius: 3px;
}

.side-bar .center{
    transform: translateY(-70px);
    margin-bottom: -15px;
}

.side-bar h4{
    font-family: 'Sniglet', cursive;
    color: #ccc;
    text-align: center;
}

.side-bar a{
    color: #ccc;
    display: block;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 220px;
    width: 90px;
    transform: translateY(-28px);
}

.side-bar .center img{
    width: 100px; 
    height: 100px;
    margin: 0 0 10px 100px; 
    border-radius: 50%;
}

.side-bar a span{
    display: none;
    transition: 0.7s;
}

.side-bar a:nth-child(7){
    color: #ff512f;
}

.side-bar i{
    padding-right: 15px;
}

.side-bar a:hover{
    background: #198bd3;
}

.side-bar .edit-bar{
    padding-top: 30px;
    margin-top: 100px;
}

.side-bar .background{
    background: #198bd3;
}

.navbar{
    width: 95%;
    height: 80px;
    background: #fff;
    position: fixed;
    left: 5%;
    top: 0;
    transition: 0.7s;
    z-index: 1999;
    box-shadow: 0 1px 5px #000;
}

.navbar .menu-toggle{
    position: absolute;
    top: 1.8rem;
    left: 2.5rem;
    width: 2.5rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2500;
    transition: transform 650ms ease-out;
}

.navbar .menu-toggle.open{
    transform: rotate(-45deg);
}

.bar{
    background: #1877f2;
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.7rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.7rem);
}

.navbar .logo img{
    transform: translateY(15px);
    width: 90px;
    height: 50px;
    margin-left: 150px;
}

.navbar .button-btn-admin{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: 400px;
    margin-top: 25px;
    transition: 0.6s;
}

.navbar .button-btn-admin input{
    border: none;
    outline: none;
    background: gray;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    color: #fff;
    padding: 10px;
    position: relative;
}

.navbar .button-btn-admin i{
    transform: translate(-25px, 2px);
    font-size: 17px;
    color: #fff;
}

.navbar .button-btn-admin input::placeholder{
    color: #fff;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar .menu-links{
    position: absolute;
    top: 30px;
    left: 150px;   
}

.navbar .menu-links ul{
    display: flex;
}

.navbar .menu-links ul li{
    margin: 0 1rem 0 2rem;
    list-style: none;
}

.navbar .menu-links ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    transition: 0.7s;
    font-family: 'Sniglet', cursive;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 400;
}

.navbar .menu-links ul li .color{
    color: #1da1f2;
}

.navbar .menu-links ul li .color2{
    color: #000;
}

.navbar .menu-links ul li a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1da1f2;
    border-radius: 5px;
    transition: 0.7s;
}

.navbar .menu-links ul li a:hover:after{
    width: 100%;
}

.navbar .menu-links ul li:hover a{
    color: #1da1f2;
}

.navbar .button-btn{
    position: absolute;
    right: 60px;
    top: 32px;
    cursor: pointer;
}

.navbar .button-btn button{
    border: none;
    outline: none;
}

.navbar .button-btn .back a{
    background: transparent;
    text-decoration: none;
    border: 2px solid #1da1f2;
    color: #1da1f2;
    border-radius: 5px;
    padding: 8.5px 10px;
    transition: 0.7s;
    cursor: pointer;
    font-family: 'Sniglet', cursive;
}

.navbar .button-btn .back:hover a{
    background: #1da1f2;
    color: #fff;
    border-radius: 5px;
}

.navbar .button-btn .daftar{
    background: #1da1f2;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 11.5px 10px;
    transition: 0.7s;
    font-family: 'Sniglet', cursive;
}

.navbar .button-btn .daftar:hover{
    background: transparent;
    border: 2px solid #1da1f2;
    color: #1da1f2;
    border-radius: 5px;
    padding: 9.5px 8px; 
}

/* END HEADER */

/* DASBORD */

.dasbord-section-1{
    width: 100%;
    height: 150vh;
}

.dasbord-section-1 .dasbord-header h1{
    position: absolute;
    top: 150px;
    left: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
}

.dasbord-section-1 .dasbord-header h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 74%;
    height: 2px;
    display: block;
    margin: auto;
    border-radius: 2px;
    background: #1877f2;
}

.dasbord-section-1 .dasbord-content{
    margin-top: 200px;
    margin-left: 200px;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex{
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card:nth-child(1){
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 5px #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 15px;
    background: #1fca08;
    margin-bottom: 20px;
    position: relative;
    outline: none;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card:nth-child(2){
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 5px #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 15px;
    background: red;
    margin-bottom: 20px;
    position: relative;
    outline: none;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card:nth-child(3){
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 5px #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 20px;
    background: #ff512f;
    margin-bottom: 15px;
    position: relative;
    outline: none;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card:nth-child(4){
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 5px #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 15px;
    background: orange;
    margin-bottom: 15px;
    position: relative;
    outline: none;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card:nth-child(5){
    width: 300px;
    height: 200px;
    background: #fff;
    box-shadow: 0 1px 5px #000;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 15px;
    background: #1877f2;
    margin-bottom: 15px;
    position: relative;
    outline: none;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card-flex{
    display: flex;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card button{
    border: none;
    outline: none;
    transform: translateY(75px);
    background: #17ac04;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Sniglet', cursive;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 15px;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .left-dasbord{
    margin: 15px 0 0 15px;
    color: #fff;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .left-dasbord h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 5px;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .left-dasbord h5{
    font-family: 'Sniglet', cursive;
    font-weight: 300;
    width: 150%;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .right-dasbord i{
    color: #fff;
    font-size: 4rem;
    margin-top: 15px;
    margin-left: 90px;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .right-dasbord #fa-user-alt{
    margin-left: 160px;
}

.dasbord-section-1 .dasbord-content .dasbord-content-flex .dasbord-card .right-dasbord #fa-chart-bar{
    margin-left: 120px;
}

/* PELABUHAN */

.pelabuhan-section-1 .pelabuhan-header h1{
    position: absolute;
    top: 150px;
    left: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
}

.pelabuhan-section-1 .pelabuhan-header h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 74%;
    height: 2px;
    display: block;
    margin: auto;
    border-radius: 2px;
    background: #22242a;
}

.pelabuhan-section-1 .pelabuhan-header .input-header{
    margin-left: 200px;
    transform: translateY(200px);
}

.pelabuhan-section-1 .pelabuhan-header .input-header input{
    padding: 10px;
    width: 555px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: 'Sniglet', cursive;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid #22242a;
    pointer-events: initial;
}

.pelabuhan-section-1 .pelabuhan-header .input-header button{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    padding: 13.5px;
    background: #22242a;
    color: #fff;
    border: none;
    outline: none;
    pointer-events: initial;
    transition: 0.5s;
    margin-left: -5px;
}

.pelabuhan-section-1 .pelabuhan-content table{
    margin-left: 200px;
    width: 950px;
    height: 35px;
    margin-bottom: 100px;
    margin-top: 250px;
}

.pelabuhan-section-1 .pelabuhan-content .tabel-header td{
    height: 40px;
    background: #22242a;
    color: #fff;
    border-bottom: none;
    border-top: 2px solid #ced5df;
}

.pelabuhan-section-1 .pelabuhan-content table tr td{
    outline: none;
    font-family: 'Sniglet', cursive;
    font-weight: 400;
    text-align: center;
    height: 30px;
}

.pelabuhan-section-1 .pelabuhan-content table .border-1{
    border-left: 2px solid #ced5df;
    border-right: 2px solid #ced5df;
    border-bottom: 2px solid #ced5df;
}

.pelabuhan-section-1 .pelabuhan-content table .border-2,
.pelabuhan-section-1 .pelabuhan-content table .border-3,
.pelabuhan-section-1 .pelabuhan-content table .border-4,
.pelabuhan-section-1 .pelabuhan-content table .border-5{
    border-right: 2px solid #ced5df;
    border-bottom: 2px solid #ced5df;
}

.slide-number{
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.slide-number a{
    font-size: 17px;
    cursor: pointer;
    margin: 0 4px;
    pointer-events: initial;
    text-decoration: none;
    color: #1877f2;
    font-family: 'Sniglet', cursive;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* TAMBAH STAFF */

.tambahStaff-section-1{
    width: 100%;
    height: 120vh;
    background: #fff;
}

.tambahStaff-section-1 .tambahStaff-header h1{
    top: 150px;
    left: 200px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 300;
    position: relative;
}

.tambahStaff-section-1 .tambahStaff-header h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 74%;
    height: 2px;
    display: block;
    margin: auto;
    border-radius: 2px;
    background: #22242a;
}

.tambahStaff-section-1 .container{
    position: relative;
    top: 200px;
    left: 200px;
    width: 74%;
    height: 70%;
}

.tambahStaff-section-1 .container .img-login img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: 50%;
}

.tambahStaff-section-1 .container .img-login label{
    position: absolute;
    top: 52%;
    left: 11%;
    font-family: 'Sniglet', cursive;
    cursor: pointer;
    font-weight: 400;
}

.tambahStaff-section-1 .container .img-login input{
    position: absolute;
    cursor: pointer;
    top: 52%;
    left: 11%;
    border: none;
    outline: none;
    background: transparent;
}

.tambahStaff-section-1 .container .form-login{
    position: absolute;
    top: 10%;
    right: 10%;
}

.tambahStaff-section-1 .container .form-login p{
    text-align: center;
    font-family: 'Sniglet', cursive;
    transform: translateY(-20px);
    margin-bottom: -10px;
}

.tambahStaff-section-1 .container .form-login .form-flex{
    display: flex;
}

.tambahStaff-section-1 .container .form-login .form-flex input{
    border: 1px solid #ced5df;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Sniglet', cursive;
}

.tambahStaff-section-1 .container .form-login button{
    width: 220px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #1877f2;
    color: #fff;
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    border: none;
    outline: none;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.tambahStaff-section-1 .container .form-login button:hover{
    border: 1px solid #1877f2;
    background: transparent;
    color: #1877f2;
}

.footer{
    margin-top: -50px;
    width: 100%;
    height: 28vh;
    padding-bottom: 10px;
    background: #22242a;
}

.footer .container{
    max-width: 80%;
    height: 100%;
    position: relative;
}

.footer .container .left-side{
    position: absolute;
    left: 150px;
    top: 60px;
}

.footer .container .right-side{
    position: absolute;
    left: 550px;
    top: 60px;
}

.footer .container .left-side h3,
.footer .container .right-side h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
}

.footer .container .left-side p,
.footer .container .right-side p{
    font-size: 12px;
    margin-left: 42px;
    letter-spacing: 2px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.wrapper{
    position: absolute;
    left: 250px;
    top: 55px;
}

.wrapper label{
    color: #000;
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.wrapper .button{
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
    transform: translateX(585px);
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.wrapper .button:nth-child(1):hover .icon{
    color: #1877f2;
    background: #1877f2;
}

.wrapper .button:nth-child(2):hover .icon{
    color: #1da1f2;
    background: #1da1f2;
}


.wrapper .button:nth-child(3):hover .icon{
    color: #ea4c89;
    background: #ea4c89;
}

.wrapper .button .icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s ease-out;
}

.wrapper .button .icon i{
    color: #000;
    font-size: 20px;
    line-height: 50px;
    transition: 0.5s;
}

.wrapper .button:hover .icon i{
    color: #fff;
}

.wrapper .button:hover{
    width: 200px;
}

#fa-shopware-edit{
    margin-right: 8px;
}

#garis-footer{
    position: absolute; 
    left: 720px; 
    top: 80px; 
    background: #fff;
    width: 100px; 
    height: 2px; 
    transform: rotate(90deg); 
    border: none;
}

#loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
}

#loader img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 450px;
}
